.title{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
 
}
.pink{
    background-color: pink;
    font-family: 'Times New Roman', Times, serif !important;
}

.orange{
    background-color:orange;
    font-family: 'Times New Roman', Times, serif !important
}
.purple{
    background-color:blueviolet;
    font-family: 'Times New Roman', Times, serif !important
}
.custom{
    background-color: darkcyan;
    font-family: 'Times New Roman', Times, serif!important;
}
.btn-success{
    font-family: 'Times New Roman', Times, serif
}
.btn-primary{
    font-family: 'Times New Roman', Times, serif
}
.btn-warning{
    font-family: 'Times New Roman', Times, serif
}
.surprise{
background-color: cornflowerblue;
font-family: 'Times New Roman', Times, serif !important
}
#demobox {
    background-color: rgb(165, 229, 255) ;
  }
  .goofydoo{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(255, 182, 193);
  }
  .footer{
    font:black ;
    background-color: rgb(255, 182, 193);
    font-family: 'Times New Roman', Times, serif;
}
.img{
    text-align: center;
    display: inline-block;
    margin:0 auto;
}
.body{
    background: #ccccff;
}
.logo{
    position:fixed;
    left:5%;
}
#demoFont {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    text-align: Center;
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
    background-color: rgb(255, 182, 193);
    }
    .header1{
        padding:none !important;
    }