.title{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.pink{
    background-color: pink;
    font-family: 'Times New Roman', Times, serif !important;
    color: black
}

.orange{
    background-color:orange;
    font-family: 'Times New Roman', Times, serif !important;
    color: black
}
.purple{
    background-color:blueviolet;
    font-family: 'Times New Roman', Times, serif !important;
    color: black
}
.custom{
    background-color: darkcyan;
    font-family: 'Times New Roman', Times, serif!important;
    color: black
}
.btn-success{
    font-family: 'Times New Roman', Times, serif;
    color: black !important
}
.btn-primary{
    font-family: 'Times New Roman', Times, serif;
    color: black !important
}
.btn-warning{
    font-family: 'Times New Roman', Times, serif;
    color: black !important
}
.surprise{
background-color: cornflowerblue;
font-family: 'Times New Roman', Times, serif !important;
color: black
}
.btn-danger{
    font-family: 'Times New Roman', Times, serif!important;
    color: black !important;
}
#demobox {
    background-color: rgb(165, 229, 255) ;
  }
  .goofydoo{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 182, 193);
  }
  .footer{
    font:black ;
    background-color: rgb(255, 182, 193);
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    bottom:0%;
}
.img{
    text-align: center;
    display: inline-block;
    margin:0 auto;
}
.body{
    background: #e5d4ef;
}
.logo{
    left:2%;
}
.demofont {
    font-family: "copper black";
    font-size: 45px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    }
.header1{
        padding:none !important;
    }
body{
    background-color:#e5d4ef !important;
}
.btn-dark{
    font-family: 'Times New Roman', Times, serif !important;
}
.terms{
    padding: 55px
}
.nav-item{
    color: white !important;
}
.intro{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
background-color:#d6e6ff;
;
}
.accept{
    font-family: 'Times New Roman', Times, serif!important;
    color: black !important;
background-color:#d6e6ff;
}